<!doctype html>
<html lang="en">
  
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/nav') %>
<div class="mt-5">

    <p><b>Email</b>: <%= userData.email %></p>

    <% if (scheduleData.length) {%>
    <table class="table mb-5">
        <thead>
            <tr>
                <th>Day</th>
                <th>Start at</th>
                <th>End at</th>
            </tr>
        </thead>
        <% (each scheduleData) {%>
        <tr>
            <td><%= getDay day %></td>
            <td><%= truncTime startTime %></td>
            <td><%= truncTime endTime %></td>
        </tr>
        <% }/each{ %>
    </table>
    <% } else { %>
    No schedules yet! 🥳
    <% } %>
</div>
</body>
</html>